
  <div class="loader" ng-if="!vm.loaded">
    <img src="./assets/img/loading.svg" alt="loading...">
  </div>
  <div class="container">
    <h1 ng-bind="vm.bookTitle"></h1>
    <fieldset>
      <legend>Your Salary?</legend>
      <input type="number" class="test" min="0" step="10" ng-model="vm.salary">
    </fieldset>
    <fieldset>
      <legend>How much should you invest in gadgets?</legend>
      <input type="number" class="test" min="0" step="0.2" ng-model="vm.percentage"> %
    </fieldset>
    <div class="output">
      The amount to be spent in shopping will be: 
      <strong ng-bind="vm.result() | currency"></strong>
    </div>
  </div>
  <footer>
    <button onclick="window.history.back();">&laquo;</button> back
  </footer>
