<!DOCTYPE html>

<html ng-app="fj.app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./lib/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./assets/css/app.css">
    <title ng-bind="title"></title>
  </head>
  <body ng-controller="SiteController">
    <div class="container">
      <p>{{publisher}} excels in {{type}} books</p>
      <div ng-controller="BookController">
        <h4>Some of the popular books from {{publisher}}</h4>
        <p>My Wish List Count: {{wishListCount}}</p>
        <ul>
          <li ng-repeat="book in books">
            {{book}}.
            <a href="#" ng-click="addToWishList(book)">Add to Wish List</a>
          </li>
        </ul>
      </div>
    </div>
    

    <script src="./lib/angular/angular.min.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/controllers.js"></script>
  </body>    
</html>