body, button, input, select, textarea {
  font: normal 0.8rem 'Source Code Pro', monospace !important;
}

.pointer {
  cursor: pointer;
}
.post-title a { 
  display: block;
  text-decoration: none;
}
.post-content p {
  text-indent: 2rem;
  text-align: justify;
}
